extends _layout/layout

block variables
	- var title = "Vĩnh Tường"
	- var bodyclass = ""

block body 
	//- include _layout/header
	//- include _layout/banner
	main
		include _pages/ct-giaiphap
	//- include _layout/footer