section.vt-congtrinh
	.container
		h1.vt-title Gói giải pháp cho trần
		.congtrinh-filter
			.filter-select
				.row
					.col-4.col-lg-3
						.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Loại phòng
							.dropdown-menu(aria-labelledby='dropdownMenuLink')
								a(href='#') Phòng khách
								a.active(href='#') Phòng ngủ
								a.active(href='#') Phòng bếp
								a(href='#') Phòng tắm
								a(href='#') Phòng giải trí
					.col-4.col-lg-3
						.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Ngân sách
							.dropdown-menu(aria-labelledby='dropdownMenuLink')
								a(href='#') Phòng khách
								a.active(href='#') Phòng ngủ
								a.active(href='#') Phòng bếp
								a(href='#') Phòng tắm
								a(href='#') Phòng giải trí
					.col-4.col-lg-3
						.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Tính năng
							.dropdown-menu(aria-labelledby='dropdownMenuLink')
								a(href='#') Phòng khách
								a.active(href='#') Phòng ngủ
								a.active(href='#') Phòng bếp
								a(href='#') Phòng tắm
								a(href='#') Phòng giải trí
			.filter-label
				.row
					.col-4.col-custom
						.label Phòng bếp
							.close 
					.col-4.col-custom
						.label Phòng tắm
							.close 
					.col-4.col-custom
						.label Cao cấp
							.close 
					.col-4.col-custom
						.label Cách âm
							.close 
					.col-4.col-custom
						.label Thẩm mỹ
							.close 
		.solution-pack
			.row
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
		h2.vt-title Gói giải pháp cho tường
		.solution-pack
			.row
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				.col-6.col-lg-4
					.solution-item
						figure
							.solution-img
								img(src="img/solution1.jpg", alt="")
							figcaption
								.solution-name Trần thạch cao đẳng cấp
								.solution-des Là hệ trần chìm đẳng cấp sử dụng hệ khung Vĩnh Tường VTC-ALPHA  có khả năng chịu lực và lớp mạ kim
								.solution-feature
									.row
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
										.col-4
											.feature
												.icon
													img(src="img/sf1.png", alt="")
												.name Tính năng thẩm mỹ
								a.solution-link(href="#!") Xem chi tiết giải pháp 
								.solution-btn
									a.btn-choose(href="#!") Chọn giải pháp này<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				
// MODAL
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.modal-select(role='document')
		.modal-content
			.modal-header
				//- h5#exampleModalLabel.modal-title Modal title
				.close(data-dismiss='modal', aria-label='Close') <span class="lnr lnr-cross"></span>
			.modal-body
				.modal-title.text-center Gói giải pháp bạn đã chọn cho công trình
				.row
					.col-12.col-md-4
						.selected-solution
							.title Phòng khách
							ul
								li Trần thạch cao đẳng cấp
								li Tường thạch cao trang nhã
					.col-12.col-md-4
						.selected-solution
							.title Phòng khách
							ul
								li Trần thạch cao đẳng cấp
								li Tường thạch cao trang nhã
					.col-12.col-md-4
						.selected-solution
							.title Phòng khách
							ul
								li Trần thạch cao đẳng cấp
								li Tường thạch cao trang nhã
				.btn-wrap
					a.btn-secondary(href="#!") Xem thêm gói giải pháp <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					a.btn-primary(href="#!") Đăng yêu cầu thi công <i class="fa fa-shopping-cart" aria-hidden="true"></i>