section.vt-solution
	.container
		h1.vt-title Trần thạch cao trang nhã
		.row
			.col-12.col-lg-6.col-xl-7
				.product-slide-wrap
					.product-slide
						.item
							a.img(href="img/simg1.jpg" data-fancybox="album")
								img(src="img/simg1.jpg", alt="")
						.item
							a.img(href="img/simg1.jpg" data-fancybox="album")
								img(src="img/simg1.jpg", alt="")
						.item
							a.img(href="img/simg1.jpg" data-fancybox="album")
								img(src="img/simg1.jpg", alt="")
						.item
							a.img(href="img/simg1.jpg" data-fancybox="album")
								img(src="img/simg1.jpg", alt="")
						.item
							a.img(href="img/simg1.jpg" data-fancybox="album")
								img(src="img/simg1.jpg", alt="")
					.product-nav
						.item
							.img
								img(src="img/simg1.jpg", alt="")
						.item
							.img
								img(src="img/simg1.jpg", alt="")
						.item
							.img
								img(src="img/simg1.jpg", alt="")
						.item
							.img
								img(src="img/simg1.jpg", alt="")
						.item
							.img
								img(src="img/simg1.jpg", alt="")
			.col-12.col-lg-6.col-xl-5
				.product-info
					.info-table
						table
							tr
								td Tên hệ thống
								td Tika + Gyproc RG 9mm
							tr
								td Mô tả ngắn: 
								td Là hệ trần chìm tiết kiệm dụng hệ khung Vĩnh Tường TIKA kết hợp tấm thạch cao Gyproc Tiêu chuẩn 9mm. Hệ trần nàyđược sử dụng rộng rãi cho nhà ở và căn hộ nhờ linh hoạt, thẩm mỹ và dễ thi công.
							tr
								td Tính năng hệ thống: 
								td 
									.product-feature
										.row
											.col-4
												.feature
													.icon
														img(src="img/sf1.png", alt="")
													.name Tính cách âm
											.col-4
												.feature
													.icon
														img(src="img/sf1.png", alt="")
													.name Tính cách âm
											.col-4
												.feature
													.icon
														img(src="img/sf1.png", alt="")
													.name Tính cách âm
							tr
								td Sản phẩm cấu thành:
								td
									ul
										li 
											a(href="#!") - Khung xương Vĩnh Tường VTC-TIKA
										li 
											a(href="#!" data-toggle="tooltip" data-placement="top" data-html="true" title='<div class="tooltip-content"><div class="tooltip-title">Tấm thạch cao Gyproc tiêu chuẩn 9mm</div><div class="tooltip-des">Tấm thạch cao tiêu chuẩn Gyproc cung cấp các tính năng hệ thống cơ bản về chống cháy, cách âm và độ bền kết cấu cho những nơi có yêu cầu cơ bản, </div><a href="index.html" class="tooltip-link" target="_black">Xem chi tiết</a></div>') - Tấm thạch cao Gyproc Tiêu chuẩn 9mm
					.btn-wrap
						a.btn-primary(href="#!") Đặt hàng<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						a.btn-location(href="#!") Tìm đại lý<i class="fa fa-map-marker" aria-hidden="true"></i>
						a.btn-download(href="#!") Tải tài liệu<i class="fa fa-download" aria-hidden="true"></i>
		.product-description
			ul#myTab.nav.nav-tabs(role='tablist')
				li.nav-item
					a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Thông tin chung
				//- li.nav-item
					a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Profile
				//- li.nav-item
					a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Contact
			#myTabContent.tab-content
				#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
					.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
						p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				//- #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
				//- #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
		.other-product
			h2.vt-title Các giải pháp cùng nhóm
			.product-list
				.row
					.col-6.col-lg-3
						a.product-col(href="#!")
							.product-img
								img(src="img/simg1.jpg", alt="")
							.product-name Trần thạch cao đẳng cấp
					.col-6.col-lg-3
						a.product-col(href="#!")
							.product-img
								img(src="img/simg1.jpg", alt="")
							.product-name Trần thạch cao đẳng cấp
					.col-6.col-lg-3
						a.product-col(href="#!")
							.product-img
								img(src="img/simg1.jpg", alt="")
							.product-name Trần thạch cao đẳng cấp
					.col-6.col-lg-3
						a.product-col(href="#!")
							.product-img
								img(src="img/simg1.jpg", alt="")
							.product-name Trần thạch cao đẳng cấp